

<h2 mat-dialog-title>{{titulo}} Tarea</h2>
<mat-dialog-content>
  <form [formGroup]="formTodo">
    <div class="row mt-2">
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Título</mat-label>
          <input matInput formControlName="title" maxlength="40">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description" rows="2" maxlength="80"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Fecha de finalidad</mat-label>
          <input matInput type="date" formControlName="maxCompletionDate">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="isCompleted">
            <mat-option [value]="true">Hecho</mat-option>
            <mat-option [value]="false">Pendiente</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="nombreBoton">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" [disabled]="formTodo.invalid"
          (click)="crearModificarTodo()">{{nombreBoton}}</button>
</mat-dialog-actions>

<mat-dialog-actions align="end" *ngIf="!nombreBoton">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
</mat-dialog-actions>